<div fxShow.gt-sm class="container-desktop" fxFlex="100%">
  <h1 class="title">Style Calculator</h1>
  <div class="column"><input placeholder="Design Width" type="number" [formControl]="designWidth"> <input placeholder="Design Height" type="number" [formControl]="designHeight"></div>
  <input placeholder="Actual" type="number" [formControl]="actual">
  <div class="key" (click)="copyMessage(font+'vh')">FONT:<span class="value">{{font}}vh</span></div>
  <div class="key" (click)="copyMessage(horizontal +'vw')">HORIZONTAL:<span class="value">{{horizontal}}vw</span></div>
  <div class="key" (click)="copyMessage(vertical+'vh')">VERTICAL:<span class="value">{{vertical}}vh</span></div>
  <button class="calculate-btn" (click)="calculate()">CALCULATE</button>
</div>

